<html>
    <head>
        <link href="/static/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <!-- <%= %> signifies data that is given to the view that you can run and parse and then generate
        the proper html -->
        <h1>person: <%= id %></h1>
        <h2>query string value: <%= qstr %></h2>
    </body>
</html>